<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
	<title>Projecto</title>
</head>

<body>
	<div layout:fragment="content">

		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Detalhes
			</h1>
			<ol class="breadcrumb">

				<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<li><a href="/project">Projectos</a></li>
				<li class="active">Detalhes</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-3">
					<!-- Profile Image -->
					<div class="box box-primary">

						<div class="box-body box-profile">
							<h3 class="profile-username text-center" th:text="${project.name}"></h3>
							<p class="text-muted text-center" th:text="${project.departament.name}"></p>
							<input type="hidden" id="project_id" name="project_id" th:value="${project.id}">
							<ul class="list-group list-group-unbordered">
								<li class="list-group-item">
									<b>Início</b> <a class="pull-right" th:text="${project.start}"></a>
								</li>

								<li class="list-group-item">
									<b>Fim</b> <a class="pull-right" th:text="${project.end}"></a>
								</li>

							</ul>

							<a href="/project" class="btn btn-primary btn-block"><b>Voltar</b></a>
						</div><!-- /.box-body -->

					</div><!-- /.box -->

				</div><!-- /.col -->

				<div class="col-md-9">
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#activity" data-toggle="tab">Consultores</a></li>
							<li><a href="#timeline" data-toggle="tab">Gestor</a></li>
							<li><a href="#settings" data-toggle="tab">Administrador</a></li>
						</ul>
						<div class="tab-content">
							<div class="active tab-pane" id="activity">

								<div>
									<div class="box">
										<div class="box-header with-border">
											<div class="box-header with-border">
												<h3 class="box-title">Lista</h3>
												<div class="box-tools pull-right">
													<div class="box-tools pull-right">
														<a th:href="${'/project/consultant/add/' + project.id}"
															type="button" class="btn btn-box-tool"><i
																class="fa fa-plus"></i>
															Adicionar</a>
														<br clear="all" />
													</div>
												</div>
											</div>

										</div>
										<!-- /.card-header -->
										<div class="box-body">

											<table id="tblConsultant" class="table table-bordered table-striped"
												style="width:100%">
												<thead>
													<tr>
														<th>Nome</th>
														<!--	<th>Perfil</th> -->
														<th>Acção</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
												<tfoot>
												</tfoot>
											</table>
										</div>
										<!-- /.card-body -->
									</div>
								</div>

							</div>


							<!-- /.tab-pane -->
							<div class="tab-pane" id="timeline">
								<!-- The timeline -->

							</div><!-- /.tab-pane -->

							<div class="tab-pane" id="settings">

							</div><!-- /.tab-pane -->
						</div><!-- /.tab-content -->
					</div><!-- /.nav-tabs-custom -->
				</div><!-- /.col -->
			</div><!-- /.row -->


			<div class="example-modal">
				<div class="modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Adicionar Consultor</h4>
							</div>
							<div class="modal-body">
								<form data-toggle="validator" role="form" method="post" id="form-add">
									<div class="box-body">
										<div class="form-group">
											<label for="employee">Consultor</label>
											<select class="form-control" required="true" name="employee" id="employee">
												<option th:each="employee: ${employees}" th:value="${employee.id}"
													th:text="${employee.name}"></option>
											</select>
										</div>

									</div>
									<div class="box-footer text-center">
										<!--<button class="btn btn-primary" type="submit">Adicionar Consultor</button>-->
										<a href="#" type="button" class="btn btn-primary add">Adicionar Consultor</a>
									</div>
								</form>

							</div>
							<div class="modal-footer">
								<a th:href="${'/project/'+project.id+'/details'}" type="button"
									class="btn btn-default pull-left">Close</a>
								<!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> -->
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div><!-- /.example-modal -->
		</section><!-- /.content -->


	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/js/project-details.js}"></script>

		<script type="application/javascript">
			$('.modal').modal({
				backdrop: 'static',
				keyboard: false
			})
		</script>

		<script type="application/javascript">

			if ($('.add').length > 0) {
				($('.add').click(function () {

					var project_id = $('#project_id').val();
					var employee_id = $("#employee").val();
					
					console.log("project"+project_id+" - "+"employee"+employee_id)

					$.ajax({
						type: "POST",
						data: {
							poject: project_id,
							consultant: employee_id
						},
						url: "/project/consultant/save/" + project_id + "/" + employee_id,
						success: function (msg) {
							window.location.href = "/project/"+project_id+"/details";
						},
						error: function (xhr, textStatus, error) {
							console.log(xhr.statusText);
							console.log(textStatus);
							console.log(error);
						}
					});

				}));
			}




		</script>

	</th:block>

</body>

</html>>