<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
	<title>Departamentos</title>
</head>

<body>
	<section layout:fragment="header">
		<h1>Departamentos</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Departamentos</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Lista</h3>
				<div class="box-tools pull-right">
					<a href="/departament/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i>
						Adicionar</a>
					<br clear="all" />
				</div>
			</div>
			<!-- /.card-header -->
			<div class="box-body">

				<table id="tblDepartaments" class="table table-bordered table-striped" style="width:100%">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Código</th>
							<th>Acção</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/js/departament.js}"></script>
	</th:block>

</body>

</html>