<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Dashboard</title>
</head>

<body>
	<div layout:fragment="content">
		My Dashboard

		<!-- Small boxes (Stat box) -->
		<div class="row">

			<div class="col-lg-3 col-6" th:each="departament: ${departaments}">
				<!-- small box -->
				<div class="small-box bg-info">
					<div class="inner">
						<h3 th:text=${#lists.size(departament.projectList)}></h3>

                <p th:text="${departament.name}"></p>
              </div>
            </div>
          </div>
         
        </div>
</div>
</body>
</html>